In [5]:
import pandas as pd

In [60]:
def table_to_html(df, save_location, add_text=""):
    # Generate the basic table HTML
    html_table = df.to_html(classes="table table-sm table-bordered", index=False, border=0)

    # Wrap it with full HTML, including Bootstrap CSS
    full_html = f"""
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Table</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            table {{
                font-size: 11px;
                font-family: Verdana;
                
            }}
            table th {{
                text-align: center;
                vertical-align: middle;
                }}
        </style>
    </head>
    <body>
    <div class="container my-4">
        {html_table}
        <p style="font-size:10px">{add_text}</p>
    </div>
    
    </body>
    </html>
    """

    # Save to file
    with open(save_location, "w", encoding="utf-8") as f:
        f.write(full_html)

In [26]:
changecols = {'Pais':'País', 'NumCit': 'Número de Citações', 'NumProgramas':'Número de Programas'}

## Países Mais Citados

In [ ]:
# Paises mais citados
df_cit = pd.read_csv('Data/Numero_Citacoes.csv')
df_prog = pd.read_csv('Data/Numero_Programas.csv')
df_tot = df_cit.merge(df_prog, on='Pais', how='outer')

df_mais_citados = df_tot.sort_values(by='NumCit', ascending=False).head(10).rename(columns=changecols).reset_index(drop=True)
df_mais_citados

             País  Número de Citações  Número de Programas
0  Estados Unidos                1315                   21
1          Brasil                 942                   21
2          Israel                 835                   21
3           China                 453                   21
4          Rússia                 432                   21
5       Argentina                 423                   21
6       Venezuela                 394                   21
7          França                 285                   21
8             Irã                 252                   21
9           Índia                 249                   20

In [40]:
table_to_html(df_mais_citados, "Pages/table_mais_citados.htm")

r## Países menos citados

df_tot[df_tot['NumCit']==1].sort_values(by='Pais').rename(columns=changecols).reset_index(drop=True)[['']]

## Países citados em mais programas

In [36]:
df_mais_programas = df_tot[df_tot['NumProgramas']==max(df_tot['NumProgramas'])].rename(columns=changecols).reset_index(drop=True)
df_mais_programas

              País  Número de Citações  Número de Programas
0         Alemanha                 196                   21
1        Argentina                 423                   21
2          Bolívia                 138                   21
3           Brasil                 942                   21
4            Chile                 189                   21
5            China                 453                   21
6          Espanha                 104                   21
7   Estados Unidos                1315                   21
8           França                 285                   21
9              Irã                 252                   21
10          Israel                 835                   21
11          Rússia                 432                   21
12         Ucrânia                 145                   21
13       Venezuela                 394                   21

In [58]:
table_to_html(df_mais_programas, "Pages/table_mais_programas.htm")

## Países com maior relação entre si

In [77]:
df_rel = pd.read_csv('Data/Relacoes_Paises_Contagens.csv')
df_rel_show = df_rel.sort_values(by='num_relac_paises', ascending=False).head(10)[['pais1', 'pais2', 'num_relac_paises']].rename(columns={'pais1': 'País 1', 'pais2': 'País 2', 'num_relac_paises': 'Citações Conjuntas'})

In [78]:
table_to_html(df_rel_show, "Pages/paises_mais_relacao.htm", add_text="* Países citados conjuntamente são países citados na mesma frase.")

## Países mais relacionados com o Brasil

In [79]:
df_brasil_rel_show = df_rel[(df_rel['pais1']=='Brasil') | (df_rel['pais2']=='Brasil')].sort_values(by='num_relac_paises', ascending=False).head(10)[['pais1', 'pais2', 'num_relac_paises']].rename(columns={'pais1': 'País 1', 'pais2': 'País 2', 'num_relac_paises': 'Citações Conjuntas'})
df_brasil_rel_show

        País 1          País 2  Citações Conjuntas
41   Argentina          Brasil                  30
135     Brasil        Colômbia                  23
141     Brasil  Estados Unidos                  23
134     Brasil           China                  21
170     Brasil       Venezuela                  17
115    Bolívia          Brasil                  13
153     Brasil          México                  12
173     Brasil           Índia                  10
162     Brasil          Rússia                   7
168     Brasil         Uruguai                   7

In [80]:
table_to_html(df_brasil_rel_show, "Pages/brasil_mais_relacao.htm", add_text="* Países citados conjuntamente são países citados na mesma frase.")